body{
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.title{
  font-family: Roboto, arial, helvetica, sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.logo{
  padding: 40px 0;
  padding-left: 44px;
  font: bold 25px/31px pt_serif, arial, helvetica, sans-serif;
  position: relative;
  letter-spacing: .8px;
}
.logo__circle {
 width: 28px;
 height: 28px;
 position: absolute;
 left:0;
 top:50%;
 transform: translateY(-50%);
 border-radius: 50%;
 opacity: .7;
}
.logo__circle_color_blue {
 left: 8px;
 top: 56%;
 background: #C8DBFB;
}
.logo__circle_color_dark-blue {
 background: #0056EC;
}
.menu{
  display: flex;
  align-items: center;
  padding-right: 0;
}
.menu__item{
  position: relative;
  margin-right: 28px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color:#000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:last-child{
  margin-right: 7px;
}
.menu__item:after{
  position: absolute;
  display: block;
  content: '';
  left:0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover:after,.menu__item_active:after{
  opacity: 1;
  width: 100%;
}
.main {
  padding:72px 63% 200px 3px;
  background:no-repeat url(img/Main-img.svg);
  background-size: 770px;
  background-position: 99% 43%;
 }
 .main__title {
  padding: 0;
  font: bold 66px/87px pt_serif, arial, helvetica, sans-serif;
  letter-spacing: 2.7px;
  margin-bottom: 33px;
 }
 .main__subtitle {
  margin: 0 0 41px 0;
  font: 22px/26px Roboto, arial, helvetica, sans-serif;
  width: 455px;
 }
  .main__title-text_highlight {
  background: #ECF3FF;
 }
 .main__button {
  display: inline-block;
   font: 18px/21px Roboto, arial, helvetica, sans-serif;
   color: #fff;
   background: #0056EC;
   padding: 20px;
   text-decoration: none;
   border-radius: 4px;
   transition: opacity .5s;
   width: 235px;
   letter-spacing: .2px;
  }
  .main__button:hover{
    opacity: .5;
    font-size: 30px;
    line-height: 30px;
    width:300px;
    height:80px;
    text-align:center;
    transition: 2s ease-in-out;
  }

  @media (max-width:1750px){
    .header {
      margin-bottom: 0px;
      }
  }

  @media (max-width: 1366px){
    .wrapper{
      width: 68%;
    }
    .main {
      padding:15px 0  55px 0;
      background-size: 55%;
      background-position: 99% 3%;
      }
    .main__title {
      padding: 0;
      margin: 0 0 37px 0;
      font: bold 50px/66px pt_serif, arial, helvetica, sans-serif;
      letter-spacing: 2px;
      width: 46%;
     }
    .main__subtitle {
      margin-bottom: 41px;
      font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
      width: 39%;
      letter-spacing: .1px;
     }
    .header {
      margin-bottom: 85px;
      }
    .menu__item{
      font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
      margin-right: 28px;  
      padding-top: 8px;  
    }
    .menu__item:last-child{
      margin-right: 0;
    }
    .main__button {
      font: 500 14px/48px Roboto, arial, helvetica, sans-serif;
      padding: 0 0 0 15px;
      width: 20.5%;
      text-align: start;
      letter-spacing: 0.1px; 
     }
      
   } 

   @media (max-width: 1230px){
    .main__button{
      width:171px;
    }
  }

  @media (max-width: 1024px){
    .wrapper{
      width: 94%;
      padding-left:27px;
    }
    .main {
      padding:15px 0 70px 0;
      background-size: 53%;
      background-position: 93% 5%;
      }  
    .main__title{
      padding: 2px 0 0 1px;
      margin-bottom: 37px;
    }
    .main__subtitle{
      margin-bottom: 40px;
    }
      .main__button{
        width:20.5%;
      }
    .menu{
      padding-right: 27px;
    }  
    .menu__item{
      margin-right: 28px;
    }
   } 

   @media (max-width: 902px){
     .main__button{
       width:171px;
     }
   }

   @media (max-width: 700px) {
    .menu {
    display: none;
    }
    .wrapper{
      width: 90%;
    }
    .header {
    margin-bottom: 10px;
    }
    .main {
    text-align: center;
    padding: 120px 0 0;
    background-size: 55%;
    background-position: 50% 0%;
    }
    .main__title {
    margin:190px auto 30px auto;
    font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 25px 0 0 10px;
    }
    .main__subtitle {
     margin: 0 auto 20px auto;
     font: 500 16px/20px Roboto, arial, helvetica, sans-serif;
     width: 250px;
    }
    .main__button {
     font: 500 14px/48px Roboto, arial, helvetica, sans-serif;
     padding: 0;
     width: 210px;
     min-height: 45px;
     text-align: center;
     letter-spacing: 0.1px;
    }
    .logo{
      margin-left: 5px;
      padding: 30px 0 45px 35px;
    }
    .logo__text{
      display: none;
    }
    .menu-burger{
      position: absolute;
      top: 32px;
      right: 24px;
      background:no-repeat url(img/burger.svg);
      width: 25px;
      height: 17px;
    }    
   }

  @media (max-width:560px){
    .main__title {
      width:250px;
      margin-top: 100px;
    }
  }

  @media (max-width: 420px) {  
    .wrapper{
      padding: 0;
    }  
    .main{
      background-size: 85%;
      padding-top:240px ;
    }
    .main__title {
    margin:0 auto 32px auto;
    width: 250px;
    padding: 23px 0 0 5px;
    letter-spacing: 1.2px;
    }
    .main__subtitle {
     margin: 0 auto 22px auto;
     padding-left: 5px;
    }
    .main__button{
      width: 205px;
      padding-right: 5px;
    }
   }  